<form
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit(searchForm.controls['location'].value)"
  class="form-inline mt-3 ms-3"
  autocomplete="off"
>
  <div class="form-group">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [formControl]="$any(searchForm.controls['location'])"
        placeholder="City, State"
        autofocus="true"
      />
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="searchButtonDisabled"
      >
        Search
      </button>
    </div>

    <p *ngIf="currentLocation" style="display: inline-block" class="ms-5 mt-3">
      <strong>
        {{
          currentLocation.cityState +
            "&nbsp;&nbsp;@&nbsp;&nbsp;" +
            currentLocation.coord.lat +
            "&nbsp;&nbsp;|&nbsp;&nbsp;" +
            currentLocation.coord.lon
        }}
      </strong>
    </p>

    <div class="row mt-2 me-3 g-0">
      <div
        *ngFor="let match of searchMatches"
        class="col-md-2 list-group list-group-horizontal"
      >
        <a
          (click)="onSubmit(searchOption.innerText)"
          class="list-group-item list-group-item-action"
          #searchOption
          >{{ match.cityState }}</a
        >
      </div>
    </div>
    <div *ngIf="invalidSearch" class="row ms-1 mt-2 g-0">
      <div class="col-md-2 list-group list-group-horizontal">
        <p class="list-group-item">Invalid Location. Sorry!</p>
      </div>
    </div>
  </div>
</form>
